/* Animation hover pour TOUS les boutons */
.button {
    -fx-cursor: hand;
    -fx-background-radius: 10;
    -fx-padding: 10 25 10 25;
    -fx-font-size: 14px;
    -fx-text-fill: white;

    /* transition smooth */
    -fx-transition: 0.15s ease-in-out;
}

.button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 15, 0, 0, 4);
}

